<%- include("../partials/head.ejs") %>


    <body>

        <div class="container">
            <div class="row">
                <div class="col-2">
                    <%- include("../partials/aside.ejs") %>
                </div>
              
                <div class="col-10  ">
                    <div class="card">
                        <div class="card-header">

                            <% if(typeof errors !='undefined' ) {%>

                                <% errors.forEach(error=>{ %>

                                    <div class="alert alert-danger alert-sm ">
                                        <li>
                                            <%= error.message %>
                                        </li>
                                    </div>

                                    <%})%>
                                        <%}%>



                                            <%if(messages.success_msg) {%>
                                                <div class="alert alert-success float-right">
                                                    <%= messages.success_msg%>
                                                </div>
                                                <%}%>
                                                    <h5>Agendamentos</h5>
                        </div>
                        <div class="card-body">
                            <div class="row col-12">
                                <div class="col-4">
                                    <form method="post" action="/contatos/inserir">
                                        Nome:
                                        <input class="form-control form-control-sm" name="nome" required>
                                        Entidade/Orgão
                                        <input class="form-control form-control-sm" name="entidade" required>
                                        Cargo/função
                                        <input class="form-control form-control-sm" name="cargo" required>
                                </div>
                                <div class="col-4">
                                    Endereço
                                    <input class="form-control form-control-sm" name="endereco" required>
                                    Telefone:
                                    <input class="form-control form-control-sm" name="telefone" required>
                                    Email:
                                    <input class="form-control form-control-sm" name="email" required>
                                </div>
                                <div class="col-4">
                                    data:
                                    <input type="date" class="form-control form-control-sm" name="data" required>
                                    <div class="md-form">
                                        <i class="fas fa-pencil-alt prefix"></i>
                                        <textarea id="form10" class="md-textarea form-control" name="obs" required
                                            rows="3"></textarea>
                                        <label for="form10">Observações</label>
                                    </div>

                                    <div class="input-inline">
                                        <button class="btn btn-success btn-sm">Adicionar</button>
                                        </form>
                                        <a href="/contatos/index"><button
                                                class="btn btn-outline-danger btn-sm  ">Cancelar</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="table-responsive">
                                <table class="table table-sm">

                                    <thead class="thead-light">
                                        <tr>
                                            <th hidden>Id</th>
                                            <th>Nome</th>
                                            <th>Entidade</th>
                                            <th>data</th>
                                            <th>Endereço</th>
                                            <th>Tel</th>
                                            <th>Email</th>
                                            <th>Obs</th>
                                            <th>Ação</th>
                                        </tr>
                                    </thead>
                                    <% dados.forEach(dado=>{ %>
                                        <tbody>
                                            <tr>
                                                <td hidden>
                                                    <%= dado.id_contato%>
                                                </td>
                                                <td>
                                                    <%= dado.nome %>
                                                </td>
                                                <td>
                                                    <%= dado.entidade %>
                                                </td>
                                                <td>
                                                    <%= dado.data %>
                                                </td>
                                                <td>
                                                    <%= dado.endereco%>
                                                </td>
                                                <td>
                                                    <%= dado.telefone%>
                                                </td>
                                                <td>
                                                    <%= dado.email%>
                                                </td>
                                                <td>
                                                    <%= dado.obs%>
                                                </td>

                                                <td><a class="fa fa-edit" href="/contatos/getId/<%= dado.id_contato%>"
                                                        data-toggle=" modal" data-target="#editModal">|<a
                                                            href="/contatos/delete/<%= dado.id_contato%>"
                                                            class="fa fa-trash text-danger"
                                                            onclick="return confirm('deseja deletar o Item <%= dado.id_contato%>?')"></a>
                                                </td>
                                                <%})%>
                                            </tr>
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>