<%- include('../partials/head.ejs')%>

    <body class="bg-dark">

        <div class="container  col-8">
            <div class="card mt-5">
                <div class="card-header">
                  
                                <% datas.forEach(data=>{ %>
                                    <h4>Editar Lista de contatos</h4>
                                    id:
                                    <input class="form-control col-3 form-control-sm" readonly
                                        value="<%= data.id_contato%>">
                </div>
                <div class="card-body">

                    <div class="row col-12">

                        <div class="col-4">
                            <form method="POST" action="/contatos/editar/<%= data.id_contato%>">

                                Nome:
                                <input class="form-control form-control-sm" name="nome" value="<%= data.nome%>"
                                    required>
                                Entidade/Orgão
                                <input class="form-control form-control-sm" name="entidade" value="<%= data.entidade%>"
                                    required>
                                Cargo/função
                                <input class="form-control form-control-sm" name="cargo" value="<%= data.cargo%>">

                        </div>
                        <div class="col-4">

                            Endereço
                            <input class="form-control form-control-sm" name="endereco" value="<%= data.endereco%>">
                            Telefone:
                            <input class="form-control form-control-sm" name="telefone" value="<%= data.telefone%>">
                            Email:
                            <input class="form-control form-control-sm" name="email" requiredd value="<%= data.email%>">

                        </div>
                        <div class="col-4">
                            data:
                            <input type="date" class="form-control form-control-sm" name="data" value="<%= data.data%>"
                                required>

                            <div class="md-form">
                                <i class="fas fa-pencil-alt prefix"></i>
                                <input id="form10" type="text-area" class="md-textarea form-control"
                                    value="<%= data.obs%>" name="obs" rows="3"></textarea>
                                <label for="form10">Observações</label>
                            </div>

                            <button class="btn btn-info btn-sm "
                                    type="submit">Editar</button>
                            <%})%>
                                </form>
                                <a href="/contatos/list"><button class="btn btn-outline-danger btn-sm "
                                        type="button">Cancelar</button></a>


                        </div>
                    </div>

                </div>

            </div>
            <div class="card-footer">

            </div>

        </div>


    </body>